body {
    font-family: 'Special Elite', cursive;
    background: White;
}

.header_div {
    background: whitesmoke;
    color: red;
}

.header_div p {
    font-family: 'Cinzel', serif;
    color: black;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Cinzel', serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: darkgrey;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aquamarine;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(255, 1, 1);
}